<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>
<body>
<div id="map"></div>
<script src="index.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3MAmMM0Aa-MWMHwN3TeEYVsa3KSMQiXk&callback=initMap">
</script>
</body>
</html>